# vim: ft=systemd
[Match]
Name={{ .Interface }}

[Network]
Description={{ .NetworkName }}
DHCP=no
DNS={{ .DNS }}
Domains=~{{ .DNSSearch }}
ConfigureWithoutCarrier=true
KeepConfiguration=static
