# vim: ft=systemd
# {{ .MagicComment }}
[Match]
Name={{ .Interface }}

[Network]
Description={{ .NetworkName }}
DHCP=no
{{ range $key := .DNS -}}
DNS={{ $key }}
{{ end -}}
{{ if .DNSOverTLS -}}
DNSOverTLS=yes
{{ end -}}
{{ if .MulticastDNS -}}
MulticastDNS=yes
{{ end -}}
Domains=~{{ .DNSSearch }}
ConfigureWithoutCarrier=true
KeepConfiguration=static
